<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
  <meta charset="utf-8" />
  <title>𝓐𝓝𝓘𝓜𝓔</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Free HTML Templates" name="keywords" />
  <meta content="Free HTML Templates" name="description" />

  <link href="img/favicon.ico" rel="icon" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

  <link href="css/style.css" rel="stylesheet" />
  <link href="css/rating-stars.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container-fluid" ng-controller="indexController">
    <div class="row bg-secondary py-2 px-xl-5">
      <div style="margin-left: 1100px; color: black">
        Liên hệ : +09 876 54321
      </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5" style="background-color: black">
      <div class="col-lg-3 d-none d-lg-block">
        <div style="width: 70px; height: 70px; float: left;"><img src="/KhachHang/img/logo.jpg"></div>
        <div style="margin-left: 100px; margin-top: 15px;"> <a href="#" class="text-decoration-none">
            <h1 class="m-0 display-5 font-weight-semi-bold" style="color: white ;">
              𝓐𝓝𝓘𝓜𝓔
            </h1>
          </a></div>

      </div>
      <div class="col-lg-8 col-6 text-left">
        <nav class="navbar navbar-expand-lg bg-black navbar-light py-6 py-lg-0 px-0">
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-6">
              <a href="#" class="m-4" style="color: white; font-size: 20px">Trang chủ</a>
              <a href="#cua-hang" class="m-4" style="color: white; font-size: 20px">Cửa hàng</a>
              <a href="#san-pham-moi" class="m-4" style="color: white; font-size: 20px">Mới mở bán</a>
              <a href="#ve-chung-toi" class="m-4" style="color: white; font-size: 20px">Về chúng tôi</a>
            </div>
            <div class="navbar-nav ml-auto">
              <a href="#" style="color: white" class="nav-item nav-link">{{khachHang.ho +" " + khachHang.tenDem + " " +
                khachHang.ten}}</a>
              <div class="nav-item dropdown">
                <a style="color: white" href="./src/pages/dang-ki.html" class="nav-link nav-link"
                  data-toggle="dropdown">{{khachHang.ten == null ? null : "👤"}}</a>
                <div class="dropdown-menu rounded-0 m-0">
                  <a href="#don-hang" class="dropdown-item">Đơn hàng</a>
                  <a ng-click="detail($event,khachHang.id)" class="dropdown-item" class="login100-form-btn"
                    data-bs-toggle="modal" href="#staticBackdrop">
                    Thông tin cá nhân
                  </a>
                  <a href="/KhachHang/src/pages/dat-lai-mat-khau.html" class="dropdown-item">Đổi mật khẩu</a>
                  <a class="dropdown-item" ng-click="dangXuat()">Đăng xuất</a>
                </div>
              </div>

              <a style="color: white" href="./src/pages/dang-nhap.html" class="nav-item nav-link">{{khachHang.ten ==
                null ? "Đăng Nhập" : null}}</a>
              <a style="color: white" href="./src/pages/dang-ki.html" class="nav-item nav-link">{{khachHang.ten == null
                ? "Đăng Ký" : null}}</a>
            </div>
          </div>
        </nav>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <div class="TTKH">
                      <h3 style="text-align: center">Thông tin khách hàng</h3>
                      <div class="row">
                        <div class="col-6">
                          Họ
                          <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" ng-model="x.ho" />
                        </div>
                        <div class="col-6">
                          Tên đệm
                          <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" ng-model="x.tenDem" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          Tên
                          <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" ng-model="x.ten" />
                        </div>
                        <div class="col-6">
                          Số Điện Thoại :
                          <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" ng-model="x.soDienThoai" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          Giới tính :
                          <input type="radio" ng-value="1" name="gioiTinh" id="1" ng-model="x.gioiTinh"
                            ng-checked="x.gioiTinh == '1' ? 'checked' : ''" />
                          <label for="1">Nam</label>
                          <input type="radio" ng-value="0" name="gioiTinh" id="0" ng-model="x.gioiTinh"
                            ng-checked="x.gioiTinh == '0' ? 'checked' : ''" />
                          <label for="0">Nữ</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          Email :
                          <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" ng-model="x.email" />
                        </div>
                        <div class="col-6">
                          Mật khẩu :
                          <input type="password" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" ng-model="x.matKhau" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Đóng
                </button>
                <a><button type="button" class="btn btn-primary" ng-click="update($event,x.id)">
                    Cập nhật
                  </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-6 text-right">
        <a href="./src/pages/gio-hang.html" class="btn border">
          <i class="fas fa-shopping-cart text-primary"></i>
          <span class="badge">{{soLuong}}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
      <div class="col-lg-9"></div>
    </div>
  </div>

  <div ng-view></div>

  <hr />

  <div class="container-fluid py-5">
    <div class="row px-xl-5">
      <div class="col">
        <div class="owl-carousel vendor-carousel">
          <div class="vendor-item border p-4">
            <img src="img/vendor-1.jpg" alt="" />
          </div>
          <div class="vendor-item border p-4">
            <img src="img/vendor-2.jpg" alt="" />
          </div>
          <div class="vendor-item border p-4">
            <img src="img/vendor-3.jpg" alt="" />
          </div>
          <div class="vendor-item border p-4">
            <img src="img/vendor-4.jpg" alt="" />
          </div>
          <div class="vendor-item border p-4">
            <img src="img/vendor-5.jpg" alt="" />
          </div>
          <div class="vendor-item border p-4">
            <img src="img/vendor-6.jpg" alt="" />
          </div>
          <div class="vendor-item border p-4">
            <img src="img/vendor-7.jpg" alt="" />
          </div>
          <div class="vendor-item border p-4">
            <img src="img/vendor-8.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vendor End -->

  <div class="container-fluid bg-black text-white  mt-5 pt-5" style="background-color: black; text-align: center;">
    <div style="margin-left: 660px; width: 150px; height: 150px;">
      <img src="/KhachHang/img/logo.jpg">
    </div><br>
    <p style="font-size: 20px;">
      Shop bán áo ANIME luôn mang lại những thiết kế thoải mái, năng
      động và không kém phần tỉ mỉ, chi tiết.<br> Do đó, các sản phẩm của
      brand đều gần gũi với bạn trẻ và được ưa chuộng rộng rãi.<br>
      Hãy liên hệ nếu bạn cần thêm sự hỗ trợ hoặc có bất kỳ câu hỏi nào.<br>
      Chúng tôi hy vọng sẽ được phục vụ bạn mỗi khi bạn quay lại. <br>
      Xin cảm ơn bạn vì sự ủng hộ của mình và chúc bạn một ngày tốt lành!<br>
    </p>
    <p class="mb-2">
      <i class="fa fa-map-marker-alt text-primary mr-3"></i>Cao đẳng FPT
      Polytechnic Hà Nội
    </p>
    <p class="mb-2">
      <i class="fa fa-envelope text-primary mr-3"></i>h61@fpt.edu.vn
    </p>
    <p class="mb-0">
      <i class="fa fa-phone-alt text-primary mr-3"></i>+098 765 4321
    </p>
    <br>

    <div class="row border-top border-light mx-xl-5 py-4">
      <div class="col-md-6 px-xl-0">
        <p class="mb-md-0 text-center text-md-left text-white ">
          &copy;
          <a class="text-white  font-weight-semi-bold" href="#">𝓐𝓝𝓘𝓜𝓔</a> đã đăng ký Bản quyền.
          <a class="text-white  font-weight-semi-bold" href="https://htmlcodex.com"></a><br />
          Được phân phối bởi
          <a href="https://ap.poly.edu.vn" target="_blank">Cao đẳng FPT Polytechnic</a>
        </p>
      </div>
      <div class="col-md-6 px-xl-0 text-center text-md-right">
        <img class="img-fluid" src="img/payments.png" alt="" />
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <!-- JavaScript Libraries -->
  <script src="../Admin/lib/angular.min.js"></script>
  <script src="../Admin/lib/angular-route.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Javascript File -->
  <script src="mail/jqBootstrapValidation.min.js"></script>
  <script src="mail/contact.js"></script>

  <!-- Template Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.3.0/crypto-js.js"></script>
  <script src="js/main.js"></script>
  <script src="js/rating-stars.min.js"></script>
  <script src="./src/controller/trangChuController.js"></script>
  <script src="./src/controller/cuaHangController.js"></script>
  <script src="./src/controller/cuaHangKhuyenMaiController.js"></script>
  <script src="./src/controller/sanPhamMoiController.js"></script>
  <script src="./src/controller/indexController.js"></script>
  <script src="./src/controller/veChungToi.js"></script>

  <script src="./src/controller/detailController.js"></script>
  <script src="../Admin/src/controller/hoaDon.js"></script>
  <script src="./src/controller/don-hang/tat-ca.js"></script>
  <script src="./src/controller/don-hang/cho-thanh-toan.js"></script>
  <script src="./src/controller/don-hang/da-huy.js"></script>
  <script src="./src/controller/don-hang/dang-giao.js"></script>
  <script src="./src/controller/don-hang/hoan-thanh.js"></script>
  <script src="./src/controller/don-hang/tra-hang.js"></script>
  <script src="./src/controller/don-hang/van-chuyen.js"></script>
  <script src="./src/controller/don-hang/thong-tin.js"></script>
  <script src="./src/config/api.js"></script>
  <script src="./src/route.js"></script>
</body>

</html>