<!DOCTYPE html>
<html lang="en" ng-app="DangNhap1">

<head>
  <title>Login</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="../../images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../vendor/dn/bootstrap/css/bootstrap.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../fonts/dn/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../fonts/dn/Linearicons-Free-v1.0.0/icon-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../vendor/dn/animate/animate.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../vendor/dn/css-hamburgers/hamburgers.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../vendor/dn/animsition/css/animsition.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../vendor/dn/select2/select2.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../vendor/dn/daterangepicker/daterangepicker.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../css/dn/util.css" />
  <link rel="stylesheet" type="text/css" href="../../css/dn/main.css" />
  <!--===============================================================================================-->
</head>

<body style="background-color: #666666" ng-controller="MyController1">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-43"> Đăng nhập </span>
          <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input class="input100" type="text" ng-model="loginEmail" name="email" />
            <span class="focus-input100"></span>
            <span class="label-input100">Email</span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="input100" type="password" ng-model="loginPass" name="password" />
            <span class="focus-input100"></span>
            <span class="label-input100">Mật khẩu</span>
          </div>

          <div class="flex-sb-m w-full p-t-3 p-b-32">
            <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" ng-model="isChecked"
                ng-click="remem()" />
              <label class="label-checkbox100" for="ckb1">
                Remember me
              </label>
            </div>

            <div>
              <a href="../pages/quen-mat-khau.html" class="txt1">
                Quên mật khẩu
              </a>
            </div>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn" data-bs-toggle="modal" href="#exampleModalToggle5">
              Đăng nhập
            </button>
            <div class="modal fade" id="exampleModalToggle5" aria-hidden="true"
              aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div style="
                      width: 200px;
                      height: 200px;
                      margin-left: 150px;
                      margin-top: 50px; ">
                    <img class="img-fluid w-100" src="/KhachHang/img/xac-nhan.jpg" />
                  </div>
                  <div style="text-align: center">
                    <h2 style="color: gray; font-weight: bold">
                      Xác nhận đăng nhập ?
                    </h2>
                    <br />
                    <h6 style="color: gray">Bạn có muốn đăng nhập không ?</h6>
                  </div>
                  <div style="margin-top: 10px">
                    <a><button class="btn btn-outline-primary" ng-click="dangNhap()" style="
                          width: 170px;
                          height: 50px;
                          margin-left: 60px;
                          font-size: 20px;
                          font-weight: bold;
                        ">
                        Xác nhận
                      </button></a>
                    <button class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close" style="
                        width: 170px;
                        height: 50px;
                        margin-left: 40px;
                        font-size: 20px;
                        font-weight: bold;
                      ">
                      Hủy
                    </button>
                  </div>
                  <br />
                  <br />
                </div>
              </div>
            </div>
          </div>
          <br />
        </form>
        <div class="login100-more" style="background-image: url('/Admin/images/bg-01.jpg')"></div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="/Admin/lib/angular.min.js"></script>
  <!--===============================================================================================-->
  <script src="../../vendor/dn/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="../../vendor/dn/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="../../vendor/dn/bootstrap/js/popper.js"></script>
  <script src="../../vendor/dn/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="../../vendor/dn/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="../../vendor/dn/daterangepicker/moment.min.js"></script>
  <script src="../../vendor/dn/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="../../vendor/dn/countdowntime/countdowntime.js"></script>
  <script src="../config/api.js"></script>
  <!--===============================================================================================-->
  <script src="/Admin/js/validate-dang-nhap.js"></script>
  <script src="../controller/dang-nhap.js"></script>
</body>

</html>