<section>
  <div class="container-fluid px-4">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#donHang">Chờ Xác Nhận
              <span class="badge text-bg-success">{{countHDXN}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#choGiao">Chờ giao hàng
              <span class="badge text-bg-success">{{countHDCG}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dangGiao">Đang Giao hàng
              <span class="badge text-bg-success">{{countHDDG}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hoanThanh">Hoàn Thành
              <span class="badge text-bg-success">{{countHDHT}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#huy">Đơn hủy hàng
              <span class="badge text-bg-success">{{countHDH}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#traHang">Đơn trả hàng
              <span class="badge text-bg-success">{{countHDTH}}</span>
            </a>
          </li>
        </ul>
      </div>
      <br />
      <br />
      <div class="card mb-4">
        <div class="card-body">
          <div>
            <input class="form-control" ng-model="search" style="width: 200px" type="text" placeholder="Tìm kiếm..."
              ng-change="timKiem()" />
            <br />
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
              aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div>
                  Tìm Theo Ngày :
                  <input type="text" class="form-control" ng-model="searchNgay" style="width: 200px"
                    aria-describedby="basic-addon1" placeholder="Nhập ngày" ng-change="timNgay()" />
                  <br />
                </div>
                <br />
                <div>
                  Tìm Theo Khoảng Ngày :
                  <br />
                  <input class="form-control" type="text" ng-change="timKhoangNgay()" ng-model="batDau"
                    placeholder="Ngày bắt đầu" style="width: 150px; float: left" />
                  <h5 style="float: left; margin-top: 10px">--</h5>
                  <input class="form-control" type="text" ng-change="timKhoangNgay()" ng-model="ketThuc"
                    placeholder="Ngày kết thúc" style="width: 150px" />
                  <br />
                </div>
              </div>
            </div>
            <!-- <button type="button" ng-click="loadData()" style="position: absolute; margin-left: 1100px; top: 20px"
              class="btn btn-outline-secondary">
              Clear
            </button>
            <button style="float: right" class="btn btn-success" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
              Tìm Theo Ngày
            </button> -->
          </div>
          <h3 class="text-center">Danh Sách Đơn Hàng</h3>
          <div class="tbHD container">
            <table class="table table-bordered">
              <thead>
                <tr class="table-secondary">
                  <th></th>
                  <th scope="col">Mã</th>
                  <th scope="col">Tổng giá</th>
                  <th scope="col">Số Điện Thoại</th>
                  <th scope="col">Tên Người Nhận</th>
                  <th scope="col">Người Xác Nhận</th>
                  <th scope="col">Hình thức thanh toán</th>
                  <th scope="col">Ngày Tạo</th> 
                  <th scope="col">Hành động</th>
                </tr>
              </thead>
              <tbody ng-repeat="hd in listHD">
                <tr>
                  <td width="10">
                    <input type="checkbox" ng-click="checkId(hd.idHoaDon , hd.tienShip)" ng-checked="listIdHd.get(hd.idHoaDon) == hd.idHoaDon ? 'checked' : ''"/>
                  </td>
                  <td>{{hd.maHoaDon}}</td>
                  <td>{{hd.tongTien + hd.tienShip | currency:'':0}}</td>
                  <td>{{hd.soNguoiNhan}}</td>
                  <td>{{hd.tenNguoiNhan}}</td>
                  <td></td>
                  <td>{{hd.hinhThucThanhToan == 0 ? "Trả sau":"Vnpay"}}</td>
                  <td>{{hd.ngayTao | date : "dd-MM-yyyy"}}</td>
                  <td class="text-center">
                    <a href="#/detail/{{hd.idHoaDon}}" ng-click="detail($event,$index,hd)">
                      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        👁️‍🗨️
                      </button></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Chi tiết Đơn Hàng
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="TTKH">
                        <h3 style="text-align: center">Thông Tin Đơn Hàng</h3>
                        <div class="row">
                          <div class="col-6">
                            Người Đặt :
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" ng-model="x.tenNguoiDat" readonly />
                          </div>
                          <div class="col-6">
                            Số Điện Thoại :
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" ng-model="x.soNguoiDat" readonly />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            Người Nhận
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" ng-model="x.tenNguoiNhan" />
                          </div>
                          <div class="col-6">
                            Số Điện Thoại :
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" ng-model="x.soDienThoai" />
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            Người Bán :
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" readonly />
                          </div>
                          <div class="col-6">
                            Mã Đơn Hàng :
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" ng-model="x.ma" readonly />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            Địa Chỉ :
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" placeholder="Thành Phố" ng-model="x.thanhPho" />
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" placeholder="Quận" ng-model="x.quan" />
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" placeholder="Phường" ng-model="x.phuong" />
                          </div>
                          <div class="col-6">
                            <br />
                            <input type="text" class="form-control dcct" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" placeholder="Địa chỉ cụ thể"
                              ng-model="x.diaChiCuThe" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            Phương Thức Thanh Toán :
                            <br />
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm"
                              ng-model="x.hinhThucThanhToan == 0 ? 'Trả Sau' : 'VnPay'" readonly />
                          </div>
                          <div class="col-3">
                            Tiền ship :
                            <br />
                            <input type="number" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" ng-model="x.ship" min="1"/>
                              <span style="color: red;" ng-if="shipAm">
                                * Tiền ship không được để âm;
                              </span>
                              <span style="color: red;" ng-if="shipTrong">
                                * Tiền ship không được để trống;
                              </span>
                          </div>
                          <div class="col-3">
                            Tổng Tiền :
                            <br />
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-sm" ng-model="x.tongTien" readonly />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-7">
                      <h3 class="TTGH">Thông Tin Giỏ Hàng</h3>
                      <br />
                      <div>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-sm" ng-model="searchSP" ng-keyup="searchListSP()"
                          placeholder="Tìm kiếm sản phẩm ..." />
                        <ul ng-show="showSP">
                          <table class="table">
                            <tr>
                              <th>#</th>
                              <th>Tên</th>
                              <th>Thông tin sản phẩm</th>
                              <th>Khuyến Mãi</th>
                              <th>Giá</th>
                            </tr>
                            <tr class="chonSP" ng-repeat="result in searchResults" ng-click="addToCart(result)">
                              <td>{{$index+1}}</td>
                              <td>{{result.ten}}</td>
                              <td>
                                Kích Cỡ : {{result.kichCo}} <br />
                                Màu Sắc : {{result.mauSac}}
                              </td>
                              <td>{{result.khuyenMai}}</td>
                              <td>{{result.gia}}</td>
                            </tr>
                          </table>
                        </ul>
                      </div>
                      <div class="tbctgh">
                        <table class="table">
                          <thead>
                            <tr class="table-secondary">
                              <th scope="col">Ảnh</th>
                              <th scope="col">Sản Phẩm</th>
                              <th scope="col">Thông tin sản phẩm</th>
                              <th scope="col">Số Lượng</th>
                              <th scope="col">Đơn Giá</th>
                              <th scope="col">Khuyến Mãi</th>
                              <th scope="col">Thành Tiền</th>
                              <th scope="col">Hành động</th>
                            </tr>
                          </thead>
                          <tbody ng-repeat="hdct in listHDCT">
                            <tr>
                              <td>
                                <img ng-if="hdct.anh != null" src="/Admin/images/{{hdct.anh}}" style="width: 50px" />
                                <img ng-if="hdct.anh == null && hdct.anh2 != null" src="/Admin/images/{{hdct.anh2}}" style="width: 50px" />
                                <img ng-if="hdct.anh == null && hdct.anh2 == null && hdct.anh3 != null" src="/Admin/images/{{hdct.anh3}}" style="width: 50px" />
                              </td>
                              <td>{{hdct.tenSanPham}}</td>
                              <td>
                                Màu : {{hdct.mauSac}} <br />
                                Kích cỡ : {{hdct.kichCo}}
                              </td>
                              <td>
                                <input
                                  aria-label="quantity"
                                  class="input-qty"
                                  min="1"
                                  ng-model="soLuongTempt[$index]"
                                  ng-change="themSoLuong(hdct, $index)"
                                  type="number"
                                />
                                <span style="color: red;" ng-if="failValidateSl[$index]">
                                  * Số lượng hàng đặt vượt quá số lượng hiện có;
                                </span>
                                <span style="color: red;" ng-if="failSoLuongAm[$index]">
                                  * Số lượng hàng đặt < 0;
                                </span>
                                <span style="color: red;" ng-if="listCheckTrong[$index]">
                                  * không được để trống số lượng
                              </span>
                              </td>
                              <td>{{hdct.thanhTien | currency:'':0}}</td>
                              <td>
                                {{hdct.khuyenMai == null ? "0" : hdct.khuyenMai
                                | currency:'':0}}
                              </td>
                              <!-- <td>{{hdct.thanhTien | currency:'':0}}</td> -->
                              <td>
                                {{(hdct.thanhTien * soLuongTempt[$index]) -
                                (hdct.khuyenMai * soLuongTempt[$index]) |
                                currency:'':0}}
                              </td>
                              <td class="text-center">
                                <a ng-click="remove($event,hdct.idHoaDonChiTiet, $index)">
                                  <button type="button" class="btn">
                                    🗑️
                                  </button></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div id="myAlert" class="modal fade" role="dialog" data-bs-backdrop="false">
                        <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              ❌ Hóa đơn có một sản phẩm không thể xóa!
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="myAlert1" class="modal fade" role="dialog" data-bs-backdrop="false">
                        <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              ✅ Thành công !
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
                    ng-click="reload()">
                    Đóng
                  </button>
                  <button type="button" class="btn btn-primary" ng-click="capNhatDonHang($event)" ng-disabled="discmm">
                    Cập nhật
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div id="myAlerts" class="modal fade" role="dialog" data-bs-backdrop="false">
            <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
              <div class="modal-content">
                <div class="modal-body">❌ Vui lòng nhập tiền ship !</div>
              </div>
            </div>
          </div>

          <div id="myAlert2" class="modal fade" role="dialog" data-bs-backdrop="false">
            <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
              <div class="modal-content">
                <div class="modal-body">❌ Sản phẩm đã hết hàng !</div>
              </div>
            </div>
          </div>

          <div id="myAlert3" class="modal fade" role="dialog" data-bs-backdrop="false">
            <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
              <div class="modal-content">
                <div class="modal-body">
                  ✅ Thành công !
                </div>
              </div>
            </div>
          </div>

          <div id="myAlertCart" class="modal fade" role="dialog" data-bs-backdrop="false">
            <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
              <div class="modal-content">
                <div class="modal-body">
                  ❌ Sản phẩm đã tồn tại trong giỏ hàng
                </div>
              </div>
            </div>
          </div>

          <div style="float: right">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" ng-disabled="listIdHd.size <= 0"
              data-bs-target="#exampleModal">
              Hủy Đơn
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" ng-model="lyDo" id="lyDo" />
                      <label for="lyDo">Lý do</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Đóng
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="huyDon()">
                      Xác nhận
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Vertically centered modal -->
            <button type="button" class="btn btn-success" ng-click="update(2)" ng-disabled="isDisabled">
              Xác nhận hóa đơn
            </button>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <button type="button" class="btn btn-outline-primary" ng-click="prevPage()">
          << </button>
            <button type=" button" class="btn btn-outline-primary" ng-click="prevPages()">
              |< </button>
                <button type=" button" class="btn btn-outline-primary" ng-click="nextPages()">
                  >|
                </button>
                <button type=" button" class="btn btn-outline-primary" ng-click="nextPage()">
                  >>
                </button>
      </div>
    </div>
  </div>

  <style>
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid #ccc;
      max-height: 200px;
      overflow-y: auto;
    }

    .chonSP {
      padding: 8px;
      width: 100%;
      cursor: pointer;
    }

    .chonSP:hover {
      background-color: #f2f2f2;
    }
  </style>
</section>