<section>
    <div class="container-fluid px-4">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link " href="#thong-ke-ban-chay">Thống kê trong ngày</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " href="">Thống kê doanh thu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#thong-ke">Thống kê đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#thong-ke-san-pham">Thống kê sản phẩm</a>
                    </li>
                </ul>
            </div>
            <br>
            <ul class="nav justify-content-center nav-tabs ">
                <li class="nav-item">
                    <a class="nav-link active" href="#thong-ke-theo-ngay">Ngày</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#thong-ke-theo-thang">Tháng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#thong-ke-theo-nam">Năm</a>
                </li>
            </ul>
            <br>
            <div>
                <!-- <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" ng-click="loadThongKeNgay()" class="btn btn-primary">Tất cả</button>
                </div> -->
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" ng-click="load7Ngay()" class="btn btn-primary">7 ngày trước</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" ng-click="load1ThangTruoc()" class="btn btn-primary">1 tháng trước</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" ng-click="loadThangNay()" class="btn btn-primary">Tháng này</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" ng-click="load1NamTruoc()" class="btn btn-primary">1 năm trước</button>
                </div>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="" role="button" aria-expanded="false"
                    aria-controls="collapseExample" data-bs-target="#collapseExample">
                    Thống kê theo ngày
                </a>

                <a class="btn btn-primary" data-bs-toggle="collapse" href="" role="button" aria-expanded="false"
                    aria-controls="collapseExamples" data-bs-target="#collapseExamples">
                    Thống kê theo khoảng ngày
                </a>
                <br>

                <div class="collapse" id="collapseExample" style="margin-top: 10px;">
                    <div>
                        <b>Ngày : </b> <input type="text" id="dateInput" placeholder="DD-MM-YYYY" ng-change="formatDate()" ng-model="searchNgay" style="width: 200px;">
                        <button type="button" ng-click="timNgay()" class="btn btn-secondary">Xem</button>
                    </div>
                </div>

                <div class="collapse" id="collapseExamples" style="margin-top: 10px;">
                    <div>
                        <div>
                            <b>Ngày : </b> <input type="text" id="dateInputs" placeholder="DD-MM-YYYY" ng-change="formatDates()" ng-model="batDau" style="width: 200px;">
                            <b>:</b> <input type="text" id="dateInputss" placeholder="DD-MM-YYYY" ng-change="formatDatess()" ng-model="ketThuc" style="width: 200px;">
                            <button type="button" ng-click="timKhoangNgay()" class="btn btn-secondary">Xem</button>
                        </div>
                </div>
            </div>
            <br>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tổng doanh thu</h5>
                        <p class="card-text">
                        <h1 style="color: red;">{{doanhThu | currency:'':0}} đ</h1>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tổng đơn hàng</h5>
                        <p class="card-text">
                        <h1 style="color: red;">{{donHang}}</h1>
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <div class="col-md-12" style="width: 1700px;">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
</section>