<!DOCTYPE html>
<html lang="en" ng-app="GioHang">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Giỏ Hàng</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/KhachHang/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"/>
    
  </head>
  <header>
    
    <div class="container bgcart">
      <div class="content">
        <h1>Giỏ Hàng</h1>
      </div>
    </div>
  </header>
  <section
    class="container"
    style="
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    "
  >
    <div class="conte">
      <ul>
        <li>
          <a href="/KhachHang/index.html">Trang chủ </a>
        </li>
        <li>></li>
        <li>
          <a href="#">Giỏ hàng</a>
        </li>
      </ul>
    </div>
    <hr />
    <div class="pageTT" ng-controller="GioHangController">
      <div ng-show="showTrong">
        <div>
          <h4 style="color: red">Giỏ hàng của bạn đang trống !</h4>
          <a href="/KhachHang/index.html">
            <button type="button" class="btn btn21 btn-dark">
              Tiếp tục mua hàng
            </button>
          </a>
        </div>
      </div>

      <br />
      <div ng-show="showTrong1">
        <div class="row">
          <div class="col-5">
            <!-- <span style="color: red">
              <span>* Vui lòng chọn sản phẩm khi thanh toán !</span>
            </span> -->
          </div>
          <div class="col-7">
            <button
              class="btn btn-outline-danger"
              style="margin-left: 350px"
              ng-click="xoaSP()"
            >
            🗑️
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-9">
            <table>
              <tr class="text-center">
                <th></th>
                <th>Sản phẩm</th>
                <th></th>
                <th>Giá Bán</th>
                <th style="width: 10%">Số lượng</th>
                <th>Giá khuyến mại</th>
                <th>Thành tiền</th>
              </tr>
              <tr
                ng-repeat="ghct in listGHCT"
                ng-class="{ 'disabled-row': ghct.trangThaiSanPhamTrueFalse }"
              >
                <td width="10">
                  <input type="checkbox" ng-click="checkId(ghct)" />
                </td>
                <td>
                  <img ng-if="ghct.anh != null" class="img-fluid w-100" src="/KhachHang/img/{{ghct.anh}}" style="width: 50px; height: 150px"/>
                  <img ng-if="ghct.anh == null && ghct.anh2 != null" class="img-fluid w-100" src="/KhachHang/img/{{ghct.anh2}}" style="width: 50px; height: 150px"/>
                  <img ng-if="ghct.anh == null && ghct.anh2 == null && ghct.anh3 != null" class="img-fluid w-100" src="/KhachHang/img/{{ghct.anh3}}" style="width: 50px; height: 150px"/>
                </td>
                <td>
                  <h5>{{ghct.ten}}</h5>
                  Mã: {{ghct.maSanPham}} <br />
                  Size: {{ghct.size}} , Màu: {{ghct.mau}} <br />
                  Hãng: {{ghct.hang}} , Chất liệu: {{ghct.chatLieu}}
                </td>
                <td class="text-center" style="color: burlywood">
                  {{ghct.gia | currency:'':0}} đ
                </td>
                <!-- ng-keypress="checkEnter($event,ghct)" -->
                <td>
                  <input
                    aria-label="quantity"
                    class="input-qty text-center"
                    min="1"
                    ng-model="ghct.soLuong"
                    ng-change="themSoLuong(ghct)"
                    type="number"
                  />
                </td>
                <td class="text-center" style="color: red">
                  {{ghct.khuyenMai | currency:'':0}} đ
                </td>
                <td class="text-center" style="color: red">
                  {{ghct.thanhTien | currency:'':0}} đ
                </td>
              </tr>
            </table>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <p
                  class="card-text"
                  style="float: left; color: black; font-weight: bold"
                >
                  Tổng tiền :
                </p>
                <p
                  style="
                    float: right;
                    color: red;
                    font-size: 23px;
                    font-weight: bold;
                  "
                >
                  {{TongTien | currency:'':0}} đ
                </p>
                <br />
                <br />

                <button ng-disabled="isDisabled"
                  data-bs-toggle="modal"
                  href="#exampleModalToggle3"
                  style="
                    font-weight: bold;
                    font-size: 25px;
                    margin-top: 20px;
                    color: royalblue;
                  "
                  class="btn b1 btn-outline-warning" >
                  <img
                    src="/KhachHang/img/thanh-toans.jpg"
                    style="width: 70px; height: 40px; float: left"
                  />
                  Thanh toán
                </button>

                <div
                  class="modal fade"
                  id="exampleModalToggle3"
                  aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel"
                  tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div ng-show="checkSoLuong">
                        <div
                          style="
                            width: 200px;
                            height: 200px;
                            margin-left: 150px;
                            margin-top: 50px;
                          "
                        >
                          <img
                            class="img-fluid w-100"
                            src="/KhachHang/img/xac-nhan.jpg"
                          />
                        </div>
                        <div style="text-align: center">
                          <h2 style="color: gray; font-weight: bold">
                            Số lượng không đủ !
                          </h2>
                          <h4 style="color: gray">Kiểm tra thông tin !</h4>
                        </div>
                        <div style="margin-top: 10px">
                          <button
                            class="btn btn-outline-danger"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            style="
                              width: 80%;
                              height: 50px;
                              margin-left: 50px;
                              font-size: 20px;
                              font-weight: bold;
                            "
                          >
                            Xác Nhận
                          </button>
                        </div>
                      </div>
                      <div ng-show="xacNhan34">
                        <div
                          style="
                            width: 200px;
                            height: 200px;
                            margin-left: 150px;
                            margin-top: 50px;
                          "
                        >
                          <img
                            class="img-fluid w-100"
                            src="/KhachHang/img/xac-nhan.jpg"
                          />
                        </div>
                        <div style="text-align: center">
                          <h2 style="color: gray; font-weight: bold">
                            Bạn chưa chọn sản phẩm ?
                          </h2>
                          <h4 style="color: gray">Kiểm tra thông tin !</h4>
                        </div>
                        <div style="margin-top: 10px">
                          <button
                            class="btn btn-outline-danger"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            style="
                              width: 80%;
                              height: 50px;
                              margin-left: 50px;
                              font-size: 20px;
                              font-weight: bold;
                            "
                          >
                            Xác Nhận
                          </button>
                        </div>
                      </div>
                      <div ng-show="xacNhan12">
                        <div
                          style="
                            width: 200px;
                            height: 200px;
                            margin-left: 150px;
                            margin-top: 50px;
                          "
                        >
                          <img
                            class="img-fluid w-100"
                            src="/KhachHang/img/xac-nhan.jpg"
                          />
                        </div>
                        <div style="text-align: center">
                          <h2 style="color: gray; font-weight: bold">
                            Xác nhận thanh toán ?
                          </h2>
                          <h4 style="color: gray">Kiểm tra thông tin !</h4>
                        </div>
                        <div style="margin-top: 10px">
                          <a ng-click="checkOut()">
                            <button
                              ng-click=""
                              class="btn btn-outline-primary"
                              style="
                                width: 170px;
                                height: 50px;
                                margin-left: 60px;
                                font-size: 20px;
                                font-weight: bold;
                              "
                            >
                              Xác nhận
                            </button></a
                          >
                          <button
                            class="btn btn-outline-danger"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            style="
                              width: 170px;
                              height: 50px;
                              margin-left: 40px;
                              font-size: 20px;
                              font-weight: bold;
                            "
                          >
                            Hủy
                          </button>
                        </div>
                      </div>
                      <br />
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />

            <a href="/KhachHang/index.html">
              <button type="button" class="btn b2 btn-outline-secondary">
                Tiếp tục mua sắm
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    <div id="myAlert" class="modal fade" role="dialog" data-bs-backdrop="false">
      <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
        <div class="modal-content">
          <div class="modal-body">❌ Số lượng không đủ !</div>
        </div>
      </div>
    </div>
    <div id="myAlerts" class="modal fade" role="dialog" data-bs-backdrop="false">
      <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
        <div class="modal-content">
          <div class="modal-body">❌ Không thể thanh toán sản phẩm đã hết hàng !</div>
        </div>
      </div>
    </div>
    <div id="myAlertss" class="modal fade" role="dialog" data-bs-backdrop="false">
      <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
        <div class="modal-content">
          <div class="modal-body">❌ Số lượng không đủ !</div>
        </div>
      </div>
    </div>
    <div id="myAlert1" class="modal fade" role="dialog" data-bs-backdrop="false">
      <div class="modal-dialog" style="position: fixed; top: 20px; right: 5px">
        <div class="modal-content">
          <div class="modal-body">❌ Số lượng phải lớn hơn 0 !</div>
        </div>
      </div>
    </div>
  </section>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <script src="/Admin/lib/angular.min.js"></script>
    <script src="/KhachHang/src/config/api.js"></script>
    <script src="/KhachHang/src/controller/gio-hang.js"></script>
    <script src="/KhachHang/src/controller/dataservice.js"></script>
  </body>
  <style>
    .conte {
      margin-top: 20px;
    }

    li {
      font-size: 2.4vh;
      display: inline;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: black !important;
    }

    .btn21 {
      width: 300px;
      height: 80px;
      font-size: 3vh;
    }

    .b2 {
      width: 95%;
    }

    .btn-close {
      width: 20%;
    }

    .b1 {
      width: 100%;
    }

    .card {
      color: burlywood;
      background-color: whitesmoke;
    }

    .input-qty {
      width: 100%;
      background-color: #fff;
      height: 2.2rem;
      font-size: 0.9rem;
      display: inline-block;
      margin: 0;
      border: 0px;
      padding: 0;
    }

    .disabled-row {
      background-color: #ffffff;
      color: rgb(188, 191, 191);
      background-image: url("/KhachHang/img/hethang4.png");
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: top right;
      cursor: not-allowed;
    }

    .disabled-row img {
      filter: blur(2px);
    }

    .disabled-row input {
      opacity: 0.5;
    }

    .tabTT {
      margin-top: -40px;
    }

    .pageTT {
      margin-top: 50px;
    }

    .bgcart {
      background-image: url("/KhachHang/img/bg-cart.jpg");
      /* Đường dẫn đến hình nền */
      background-size: cover;
      /* Tự động căn chỉnh hình nền để nó phù hợp với kích thước của phần tử cha */
      background-position: center;
      /* Đặt vị trí trung tâm cho hình nền */
      background-repeat: no-repeat;
      /* Ngăn việc lặp lại hình nền */
      width: 87%;
      height: 20vh;
      /* Đảm bảo kích thước cao của phần tử cha đủ để hiển thị hình nền */
      display: flex;
      justify-content: center;
      /* Căn giữa theo chiều ngang */
      align-items: center;
      /* Căn giữa theo chiều dọc */
      text-align: center;
      color: black;
      /* Màu chữ */
    }

    .content {
      padding: 20px;
    }

    h1 {
      font-size: 34px;
      font-family: monospace;
    }
  </style>
</html>
